<template>
    <div class="container">
        <div class="header-block">
            <h1>Welke studie past het beste bij jou?</h1>
            <p>
                Heb je nog geen idee welke studie je wilt doen? 
                Vul dan deze test in en kom erachter welke opleiding het beste bij jou past.
                Gegevens worden opgeslagen en kunnen niet herleid worden naar jou als persoon.
            </p>
        </div>
        <div class="questions">
            <div v-for="question in data" v-bind:key="question.id" class="question">
                <h3>{{question.name}}</h3>
                <select v-model="question.selected" v-on:change="onAnswer(question)">
                    <option disabled value="1">Maak een keuze...</option>

                    <option v-for="option in question.children" v-bind:key="option.id">
                        {{option.name}}
                    </option>
                </select>
            </div>

            <div class="advice-result">
                <div class="green-block result" v-if="advice.result">
                    <h1>Resultaat</h1>
                    <p>
                        {{advice.result}}
                    </p>
                </div>
                <div class="green-block advice" v-if="advice.advice">
                    <h1>Advies</h1>
                    <p>
                        {{advice.advice}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import _ from 'lodash';

    export default {
        data() {
            return {
                data: [],
                advice: {}
            }
        },

        created() {
            axios.get(`api.json`)
                .then(response => {
                    response.data.forEach(element => {
                        element.question.selected = '1'; //  select first element for default value
                        this.data.push(element.question);
                    });
                })
                .catch(e => {
                    this.errors.push(e);
                })
        },

        methods: {
            onAnswer: function(answer) {
                // find the selected answer in the questions array to retrieve the consecutive question
                let selectedAnswer = answer.children.filter(function(item){ return item.name == answer.selected;} ).pop();
                let nextQuestion = selectedAnswer.question;

                // find location of latest chosen answer and remove all questions after this chosen answer
                for (var i = 0; i < this.data.length; i++) {
                    if (this.data[i].name == answer.name) {
                        this.data = this.data.slice(0, i + 1);
                    }
                }
                
                // if a consecutive question exists push it to the questions array, else if advice exists set the advice
                // if there's no advice or consecutive question, show error messages
                if(_.has(nextQuestion, 'children')){
                    nextQuestion.selected = '1'; //  select first element for default value
                    this.data.push(nextQuestion);
                    this.advice = {};
                } else if(_.has(selectedAnswer, 'advice')) {
                    this.advice = selectedAnswer;
                } else {
                    this.advice = {"result": "Geen resultaat beschikbaar", "advice": "Geen advies beschikbaar"};
                }
            }
        }
    }
</script>