$themeColor-Light: rgb(238, 238, 238);
$headerTitles: rgb(55, 55, 55);
$whiteColor: white;
$defaultBlackTextColor: rgb(76, 80, 80);
$blockBackgroundColorLight: rgb(192, 225, 225);
$blockBackgroundColorDark: rgb(79, 162, 162);
$bodyPadding: 30px;