    @import 'colors';
    $theme-font: Arial,
    Helvetica,
    sans-serif;
    body {
        margin: 0;
        font-family: $theme-font;
        background-color: $themeColor-Light;
        h1,
        h2,
        h3,
        h4 {
            color: $headerTitles;
        }
        p {
            color: $defaultBlackTextColor;
        }
        .header-block {
            background-color: $blockBackgroundColorDark;
            padding: 30px;
            max-width: 600px;
            margin: 0 auto;
            h1 {
                color: $whiteColor;
            }
            p {
                color: $whiteColor;
                padding: 10px 20px 10px 20px;
            }
        }
        .questions {
            margin: 0 auto;
            max-width: 350px;
            padding: 30px;
            select {
                width: 100%;
            }
            .question {
                margin: 10px 0;
            }
            .green-block {
                background-color: $blockBackgroundColorLight;
                padding: 30px;
                margin: 20px 0;
                h1 {
                    font-size: 20px;
                    color: $headerTitles;
                }
                p {
                    padding: 30px;
                }
            }
        }
    }